
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.body
{
	background-color: #DBDBDB;
}
.header
{
	color: #FFFFFF;
	width: 100%;
	height: 50px;
	padding: 5px;
	background-color: #337ab7;
	
}
.header-table td
{
	background-color: black;
}
.amdLink
{
	color: white;
	text-decoration: none;
	cursor: pointer;
	vertical-align: middle;
	
}

.amd-logo-font
{
	color: yellow;
	font-family: "Baskerville";
	font-style: bold;
	font-size: 40px;
	width: 50px;
	height: 50px;
	margin-top: -10px;
	padding-top:0.25px;
	
}

.amd-header-title
{
	
padding-top:5px;
	padding-left: 90px;
	
	
}
.header-text
{
	vertical-align: middle;
	font-family: "Arial";
	font-style: bold;
	font-size: 20px;
	
}
.key-actions
{
	font-family: "verdana";
	font-size: 16px;
	font-style: bold;
	margin: 0px;
	padding-right:10px;
	padding-top:2px;
}
.amd-header-actions
{
	font-family: "verdana";
	font-size: 16px;
	font-style: bold;
	margin: 0px;
	padding-right:10px;
	padding-top:5px;
	
}
.amd-menu-bar
{
	background-color: #CFE8FC;
	height: 30px;
	
}
.amdContainerDiv 
{
	background-color: #FFFFFF;
}
.wTag
{
	vertical-align: middle;
	padding-top:10px;
}

.amdContainerDiv .amdHeader
{
	width: 100%;
	height: 100px;
	padding: 10px;
	border-bottom: 2px solid #000000;
	box-shadow: 2px 2px #e0e0e0;
}

.amdContainerDiv .amdHeader .amdHeaderTitle
{
	font-family: "Baskerville";
	font-style: bold;
	font-size: 50px;
	margin-top: -10px;
	margin-bottom: -10px;
	text-shadow: 2px 2px #e0e0e0;
}

.amdContainerDiv .amdHeader .amdHeaderSubTitle
{
	font-family: "Verdana";
	font-size: 16px;
	font-style: bold;
	margin: 0px;
}

.amdContainerDiv .amdFooter
{
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 40px;
	background-color: #DBDBDB;
	padding: 10px;
	border-top: 1px solid #DBDBDB;
}

.amdContainerDiv .amdContentDiv 
{
	padding: 10px;
	background-color: #DBDBDB;
	
}

.amdContainerDiv .amdContentDiv .amdContentHeading
{
	font-family: "Baskerville";
	font-style: bold;
	font-size: 30px;
	text-shadow: 1px 1px #e0e0e0;
	width: 100%;
	text-align: center;
}

.amdContainerDiv .amdContentDiv .amdContentSubHeading
{
	font-family: "Verdana";
	font-style: bold;
	font-size: 18px;
	text-shadow: 1px 1px #e0e0e0;
	width: 100%;
	text-align: center;
}

.amdContainerDiv .amdContentDiv .amdReportTable 
{
	border: 1px solid #337ab7;
	border-collapse: collapse;
	color: #000000;
	white-space: nowrap;
}
		
.amdContainerDiv .amdContentDiv .amdReportTable TR TH 
{
	background-color: #337ab7;
	color: #ffffff;
	padding: 5px;
	border: 1px solid #337ab7;
}
.amdReportTable TH
{
	text-align: center;
}
		
.amdContainerDiv .amdContentDiv .amdReportTable TR TD 
{
	padding: 5px;
	border: 1px solid #337ab7;
}

.amdContainerDiv .amdContentDiv .amdReportTable .amdReportUrl
{
	color: blue;
	cursor: pointer;
}

.amdContainerDiv .amdContentDiv .amdModuleDiv
{
	
}

.amdContainerDiv .amdContentDiv .amdModuleDiv .amdModule
{
	background-color: #337ab7;
	color: #FFFFFF;
	padding: 10px;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 2px 2px #e0e0e0;
	margin: 5px;
}

.amdContainerDiv .amdContentDiv .amdModuleDiv .amdModule .amdModuleIcon
{
	background-color: #FFFFFF;
	color: black;
	width: 40px;
	height: 40px;
	border-radius: 4px;
}

.amdContainerDiv .amdContentDiv .amdModuleDiv .amdModuleTitle
{
	color: #FFFFFF;
	font-weight: bold;
	margin-left: 10px;
}

.amdContainerDiv .amdContentDiv .amdModuleDiv .amdModule .amdModuleDescription
{
	margin-top: 10px;
	color: #FFFFFF;
}

.amdContainerDiv .amdContentDiv .amdFormTable 
{
	border: 0px;
	border-collapse: collapse;
	color: #000000;
	white-space: nowrap;
}
		
.amdContainerDiv .amdContentDiv .amdFormTable TR TD 
{
	padding: 5px;
}
.modal-header
{
	background-color:#337ab7;
	 border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
}
